<%= form_for [@job, @application] do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :cover_letter, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <%= form.text_area :cover_letter, class:"form-control" %>
    </div>      
  </div>

  <div class="row mb-3">
    <%= form.label :education, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <%= form.text_field :education, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :telephone, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <%= form.text_field :telephone, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :date_of_birth, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <%= form.date_select :date_of_birth, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :address, class:"col-sm-2 col-form-label"  %>
    <div class="col-sm-10">
      <%= form.text_field :address, class:"form-control" %>
    </div>
  </div>

  <div class="actions">
    <% if controller_name == 'applications' && action_name == 'edit' %>
      <%= form.submit t('applications.form.submit_edit_button'), :class => 'btn btn-primary' %>
    <% else %>
      <%= form.submit t('applications.form.submit_create_button'), :class => 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
<br/>
