<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
  <div class="container">
		<%= link_to image_tag("logo.png", alt: "Get A Job logo", width: "100"), root_path%>
    <% link_to 'Get a Job App', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? && current_user.type_of == "employer" %>          
	        <li class="nav-item">
	          <%= link_to t('global.header.new_job_button'), new_job_path, class:"nav-link" %>
	        </li>   		
	        <li class="nav-item">
	          <%= link_to t('global.header.jobs_button'), jobs_path, class:"nav-link" %>
	        </li>             	
	        <li class="nav-item">
	          <%= link_to t('global.header.categories_button'), categories_path, class:"nav-link" %>
	        </li>             		
	      <% end %>                        
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 ">
      	<% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><strong><%= current_user.first_name + ' ' + current_user.last_name %></strong> </a>
            <ul class="dropdown-menu">
              <li><%= link_to t('global.header.view_profile'), user_path(current_user), class:"dropdown-item" %></li>
              <li><%= link_to t('global.header.edit_profile'), edit_user_registration_path, class:"dropdown-item" %> </li>
            </ul>
          </li> 
          <li class="nav-item">
	          <%= link_to t('global.header.log_out'), destroy_user_session_path,
	          						  method: :delete, class:"nav-link" %>
	        </li>   
      	<% else %>
		      <span class="navbar-text nav-space-right" style="float: right;">
		        	<strong><%= t 'global.header.not_logged_in' %></strong> |
		      </span>        	
		      <li class="nav-item nav-space-right">
		        <% link_to "Sign up", new_user_registration_path, class:"btn btn-warning" %>
		      </li>   
            
          <li class="nav-item dropdown nav-space-right">
            <a class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><%= t'global.header.sign_up'%></a>
            <ul class="dropdown-menu">
              <li><%= link_to t('global.header.as_employer'), new_user_registration_path(type_of: "employer"), class:"dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>              
              <li><%= link_to t('global.header.as_applicant'), new_user_registration_path(type_of: "applicant"), class:"dropdown-item" %> </li>
            </ul>
          </li> 
		      <li class="nav-item">
		        <%= link_to t('global.header.log_in'), new_user_session_path, class:"btn btn-outline-light me-2" %>
		      </li>   
		     <% end %>
          <li class="nav-item dropdown nav-space-right">         
            <a class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <% if I18n.locale == :en %>
              <%= image_tag("en.png", alt: "English", width: "20") %>
              English
            <% else %>
              <%= image_tag("hr.png", alt: "Hrvatski", width: "20") %>              
              Hrvatski
            <% end %>
            </a>
            <ul class="dropdown-menu">
              <% if false %>
                note for the following if block:
                When on sign up page, type_of parameter gets supplied properly, but if the language is changed while on the sign_up form, this type_of parameter
                gets lost, so I included this check, if there is type_of parameter in url, then reapply it with the locale change.
              <% end %>
              <% if params.has_key?(:type_of) %>            
                <li>
                  <%= link_to url_for({locale: :hr, :type_of => params[:type_of]}), class: "dropdown-item" do %>
                  <%= image_tag("hr.png", :class => "nav-space-right", alt: "Hrvatski", width: "20") %>
                    Hrvatski
                  <% end %>
                </li>
                <li><hr class="dropdown-divider"></li>   
                <li>
                  <%= link_to url_for({locale: :en, :type_of => params[:type_of]}), class: "dropdown-item" do %>
                  <%= image_tag("en.png", :class => "nav-space-right", alt: "English", width: "20") %>
                    English
                  <% end %>
                </li>      
              <% else %>                   
                <li>
                  <%= link_to url_for(locale: :hr), class: "dropdown-item" do %>
                  <%= image_tag("hr.png", :class => "nav-space-right", alt: "Hrvatski", width: "20") %>
                    Hrvatski
                  <% end %>
                </li>
                <li><hr class="dropdown-divider"></li>   
                <li>
                  <%= link_to url_for(locale: :en), class: "dropdown-item" do %>
                  <%= image_tag("en.png", :class => "nav-space-right", alt: "English", width: "20") %>
                    English
                  <% end %>
                </li>                    
              <% end %>
            </ul>
          </li> 
      </ul>
    </div>
  </div>
</nav>